body{
	background: #ffead7;
}
.find-header{
	width:100%;
	height: 0.88rem;
	display: flex;
	text-align: center;
	line-height: 0.88rem;
	background: #fff;
}
.find-header div:nth-of-type(1){
	flex: 6;
	margin-left: 1rem;
	font-size: 0.34rem;
	color: #000;
}
.find-header div:nth-of-type(2){
	flex: 1;
	font-size: .42rem;
}
.back{
	flex: 1;
	margin-left: 0.3rem;
	color:#666;
	font-size: 0.38rem;
}

/*
 
 * 奖励无限*/
.nav_img img{
	width: 100%;
	height: 4.18rem;
}
/*
 
 * 邀请好友*/
.article{
	width: 7.2rem;
	height: 5.2rem;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.article img{
	width: 7.2rem;
	height: 5.20rem;
}
.social-share-icon{
	margin: 10px;
}
/*
 
 * 
 * 立即邀请*/
.section{
	width: 70%;
	height: 0.92rem;
	margin: 0 auto;
	text-align: center;
	margin-top: 0.54rem;
	line-height: 0.92rem;
	font-size: 0.38rem;
	border-radius: 0.9rem;
	color: #fff;
	background: -webkit-linear-gradient(#ffcf1b, #fe9101); /* Safari 5.1 - 6.0 */
 	background: -o-linear-gradient(#ffcf1b, #fe9101); /* Opera 11.1 - 12.0 */
 	background: -moz-linear-gradient(#ffcf1b, #fe9101); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ffcf1b, #fe9101); /* 标准的语法 */
}
/*
 
 * 邀请规则*/
.yqgz{
	width: 100%;
	text-align:center;
}
.yqgz img{
	width.8rem;
	height: 0.32rem;
}
/*
 
 * 规则详情*/
.rule_list{
	width:94%;
	height:15.32rem;
	margin: 0.2rem auto;
	background: #fd5c48;
	text-align: center;
	border-radius: 0.3rem;
}
.title{
	font-size: 0.52rem;
	color: #fff;
}
.title img{
	margin: 0 0.46rem;
}
/*
 * rule_list_ul*/
.rule_list_ul{
	width: 92%;
	height: 3rem;
	background: #fff;
	margin: 0 auto;
	border-radius: 0.1rem;
	padding: 0.14rem;
}
.rule_list_ul li{
	float: left;
	width: 3.1rem;
	height: 0.5rem;
	margin: 0.05rem;
	font-size: 0.24rem;
	line-height: 0.5rem;
	background: #fef5e3;
}
.rule_list_ul li:nth-of-type(3),.rule_list_ul li:nth-of-type(4),.rule_list_ul li:nth-of-type(7),.rule_list_ul li:nth-of-type(8){
	background: #efefef;
}
.care{
	font-size: 0.26rem;
	color: #fff;
	margin-top: 0.14rem;
}
.rule_list1{
	width: 92%;
	height: 3rem;
	background: #fff;
	margin: 0 auto;
	border-radius: 0.1rem;
	padding: 0.14rem;
}
.rule_time{
	font-size: 0.26rem;
	color: #fff;
	
}
.rule_list h4{
	font-size: 0.38rem;
	color: #fff;
	margin-top: 0.75rem;
	margin-bottom: 0.37rem;
}
.rule_time p{
	line-height: 0.45rem;
	text-align: left;
	margin-left: 0.23rem;
}
.Money_tip{
	width: 84%;
	height: 0.5rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	line-height: 0.5rem;
	border-radius: 10rem;
	background: #ff9160;
	font-size: 0.24rem;
	color: #fff;
}
/*
 
 * 分享*/
.share{
	width: 100%;
	height: 3.80rem;
	background: #f2ede7;
	position: fixed;
	bottom: 0;
	left: 0;
}
.share_list{
	display: flex;
}
.share_list dl{
	flex: 1;
	font-size: 0.24rem;
	text-align: center;
}
.share_list dl dt{
	margin: 0 auto;
	width: 1.08rem;
	height: 1.08rem;
	text-align: center;
	line-height: 1.08rem;
	font-size: 0.62rem;
	background: #fff;
	margin-top: 0.56rem;
	margin-bottom: 0.2rem;
	border-radius: 0.2rem;
}
#abolish{
	height: 1rem;
	background: #fff;
	margin-top: 0.73rem;
	text-align: center;
	line-height: 1rem;
	font-size: 0.28rem;
}
.icon-weixin{
	color: #3eb036;
	
}
.icon-pengyouquan{
	color: #3fb135;
}
.icon-qq{
	color: #4cafea;
}
.icon-qqkongjian{
	color: #efcf3c;
}
.icon-weibo{
	color: #e04d69;
}
