.home_content{
	padding: 0.5rem 0.3rem;
	font-size: 0.22rem;
}
.home_content p{
	line-height: 0.4rem;
	text-indent: 0.56rem;
}
.home_content_p1 {
	text-align: center;
}
.home_content_p1 img{
	width: 3.63rem;
	height: 0.98rem;
	margin: 0 auto;
}
.home_content_p2{
	font-size: 0.24rem;
	text-align: center;
	margin-top: 0.24rem;
}
.home_content_p3{
	margin-top: 0.4rem;
}
