.myreward_header{
	width: 100%;
	height: 0.93rem;
	background: #fff;
	display: flex;
	font-size: 0.32rem;
	line-height: 0.93rem;
}
.myreward_header div:nth-of-type(2){
	color: #000;
	flex: 2;
	margin-left:1rem;
}
.back{
	flex: 1;
	margin-left: 0.3rem;
	color:#666;
	font-size: 0.38rem;
}
/*
 
 * 密码*/
.password_manager{
	width: 100%;
	background: #fff;
	margin-top: 0.2rem;
	box-shadow: 0.03rem 0.1rem 0.03rem #eee ;
}
.password_manager p{
	width: 92%;
	height: 1rem;
	line-height: 1rem;
	margin: 0 auto;
	color: #333;
	font-size: 0.3rem;
	clear: both;
	border-bottom: 0.01rem solid #DFDFDF;
}
.password_manager p:nth-last-of-type(1){
	border: none;
}
.password_manager p span{
	font-size: 0.22rem;
	color: #999;
	float: right;
}
