.register_header{
	width: 100%;
	height: 1.02rem;
	background: #fff;
	display: flex;
	font-size: 0.34rem;
	line-height: 0.93rem;
}
.register_header div:nth-of-type(2){
	color: #000;
	flex: 2;
	margin-left: 0.4rem;
}
.back{
	flex: 1;
	margin-left: 0.3rem;
	color:#666;
	font-size: 0.38rem;
}
.resetPassword{
	height: 0.7rem;
	font-size: 0.24rem;
	color: #333;
	line-height: 0.7rem;
	margin-left: 0.3rem;
}
.resetPassword span{
	color: #007AFF;
}
.Remember_psw,.Forget_psw{
	height: 1rem;
	background: #fff;
	font-size: 0.28rem;
	color:#333;
	line-height: 1rem;
}
.Remember_psw p{
	width: 92%;
	margin: 0 auto;
	border-bottom: 0.01rem solid #DFDFDF;
}
.Forget_psw p{
	width: 92%;
	margin: 0 auto;
}
.Remember_psw p span,.Forget_psw p span{
	float: right;
	color: #999;
	font-size: 0.24rem;
}
