body{
	background:#fff;
}
.register_header{
	width: 100%;
	height: 1.02rem;
	background: #fff;
	display: flex;
	font-size: 0.34rem;
	line-height: 0.93rem;
}
.register_header div:nth-of-type(2){
	color: #000;
	flex: 2;
	margin-left:0.5rem;
}
.back{
	flex: 1;
	margin-left: 0.3rem;
	color:#666;
	font-size: 0.38rem;
}
/*
 
 * 用户信息*/
.usermsgbox{
	height: 2.68rem;
	width: 100%;
}
.usermsgbox div{
	height: 1.12rem;
	width: 76.8%;
	margin: 0 auto;
	padding-left:0.23rem;
	border-bottom: 1px solid #989898;
	line-height: 1.12rem;
}
.usermsgbox div input{
	border: none;
	margin-left: 0.6rem;
	width: 2.8rem;
	height: 1.12rem;
	font-size: 0.3rem;
}
.usermsg p{
	font-size: 0.45rem;
}
.usermsg p span{
	font-size: 0.28rem;
	color: #2DABF7;
}
/*
 
 * 下一步按钮*/
.registerBtn{
	width: 80%;
	height: 0.88rem;
	margin: 0 auto;
	margin-top: 1.21rem;
	background: #3793e0;
	font-size: 0.34rem;
	text-align: center;
	color: #fff;
	border-radius: 0.1rem;
	line-height: 0.88rem;
}
